
<html>
  <head>
    <title>JobBoarding</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %> -->

  
    <style>
    .divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 83px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
    </style>
    </head>

  <body>
  <section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1  align-items-center" >
      <div class="d-flex justify-content-center mb-3 pb-1">
        
        <div class="h1 fw-bold mb-5 text-uppercase text-primary"> Job Board</div>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-2 mb-0"> <h2 class="fw-bold mb-0 ">Login as User</h2></p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
          <%= f.email_field :email, { class: "form-control form-control-lg", placeholder: "Enter a valid email address" } %>
           <!-- <input type="email" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter a valid email address" /> -->
            <label class="form-label" for="form3Example3">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
              <%= f.password_field :password, { class: "form-control form-control-lg", placeholder: "Enter password" }  %>
            <label class="form-label" for="form3Example4">Password</label>
          </div>

        

          



          <div class="text-center text-lg-start mt-4 pt-2">
          
             <%= f.submit "Log in" , class: "btn btn-primary btn-lg" %>
            
              <p class="medium fw-bold mt-2 pt-1 mb-4">Don't have an account? <br /><br />
            
                    <a href="/users/sign_up"><button type="button" class="btn btn btn-outline-primary ">Register as User</button></a><br /><br />
                    <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-2 mb-0"> <h2 class="fw-bold mb-0 ">For Company</h2></p>
                  </div>
                  <a href="/companies/sign_in"><button type="button" class="btn btn btn-outline-primary ">Company Login </button></a>
                  <br /><br />
                    <a href="/companies/sign_up"><button type="button" class="btn btn btn-outline-primary ">Register as Company</button></a>

          </div>

          <% end %>
      </div>
    </div>
  </div>
 
</section>

  </body>
</html>
