
<head>
<style>
@font-face {
  font-family: 'FAMILY_NAME';
  font-style: NORMAL_OR_ITALIC;
  font-weight: NUMERIC_WEIGHT_VALUE;
  font-display: swap;
  src: url(FONT_FILE_NAME.woff2) format('woff2');
}
body{
    background:#f5f5f5;
   }

/* ===== Career ===== */
.career-form {
  background-color: #0275d8;
  border-radius: 5px;
  padding: 0 16px;
}

.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.career-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.career-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  height: auto;
  background-image: none;
}

.career-form .custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.career-form .select-container {
  position: relative;
}

.career-form .select-container:before {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
  font-size: 18px;
  color: #ffffff;
  content: '\F2F9';
  font-family: "Material-Design-Iconic-Font";
}

.filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
  padding: 10px 35px;
}

ul {
  list-style: none; 
}

.list-disk li {
  list-style: none;
  margin-bottom: 12px;
}

.list-disk li:last-child {
  margin-bottom: 0;
}

.job-box .img-holder {
  height: 65px;
  width: 65px;
  background-color: #0275d8;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 65px;
}

.career-title {
  background-color: #0275d8;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
}

.job-overview {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .job-overview {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
}

.job-overview .job-detail ul {
  margin-bottom: 28px;
}

.job-overview .job-detail ul li {
  opacity: 0.75;
  font-weight: 600;
  margin-bottom: 15px;
}

.job-overview .job-detail ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.job-overview .overview-bottom,
.job-overview .overview-top {
  padding: 35px;
}

.job-content ul li {
  font-weight: 600;
  opacity: 0.75;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

@media (min-width: 768px) {
  .job-content ul li {
    border-bottom: 0;
    padding: 0;
  }
}

.job-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}
.mb-30 {
    margin-bottom: 30px;
}
.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #0d6efd;
    color: white;
    border: 1px solid #0d6efd; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #0d6efd;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
    a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

</style>
<head>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

    <div class="container ">
                <div class="row">
                     <div class="col-lg-10 mx-auto mb-4">
                        <div class="section-title text-center ">
                            <h3 class="top-c-sep">Grow your career with us</h3>
                            <p>Lorem ipsum dolor sit detudzdae amet, rcquisc adipiscing elit. Aenean socada commodo
                                ligaui egets dolor. Nullam quis ante tiam sit ame orci eget erovtiu faucid.</p>
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="career-search mb-60">
    
                          <!--  <form action="#" class="career-form mb-60">
                                <div class="row">
                                    <div class="col-md-6 col-lg-3 my-3">
                                        <div class="input-group position-relative">
                                            <input type="text" class="form-control" placeholder="Enter Your Keywords" id="keywords">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 my-3">
                                        <div class="select-container">
                                            <select class="custom-select">
                                                <option selected="">Location</option>
                                                <option value="1">Jaipur</option>
                                                <option value="2">Pune</option>
                                                <option value="3">Bangalore</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 my-3">
                                        <div class="select-container">
                                            <select class="custom-select">
                                                <option selected="">Select Job Type</option>
                                                <option value="1">Ui designer</option>
                                                <option value="2">JS developer</option>
                                                <option value="3">Web developer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-3 my-3">
                                        <button type="button" class="btn btn-lg btn-block btn-light btn-custom" id="contact-submit">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </form> -->
                            <p></p>
                            <div class="filter-result">
                            <div class="digg_pagination d-flex justify-content-center">
                            <div class="page_info rounded  my-4 ">
                              <%= page_entries_info @posts %>
                            </div>
                            
                          </div>
                          <div class="digg_pagination d-flex justify-content-center">
    
                          <%= will_paginate @posts, :container => false %>
                        </div>
                               <!-- <p class="mb-30 ff-montserrat">Total Job Applications : <%= @job_applications.all.count %></p> -->
                               <p></p>
                            <% @job_applications.each do |n| %>
                            
                                <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                                    <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                       <a href="<%= job_post_path(n.job_post)%>"> 
                                       <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                            JB
                                        </div></a>
                                        <div class="job-content">
                                            <h5 class="text-center text-md-left"><%= n.job_post.title %> | <%= n.job_post.company.name %></h5>
                                            
                                            <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                                <li class="mr-md-4">
                                                    <i class="zmdi zmdi-pin mr-2"></i> <%= n.job_post.location %>
                                                </li>
                                                <li class="mr-md-4">
                                                <i class="zmdi zmdi-case mr-2"></i>  <%= n.job_post.job_type%>
                                                </li>
                                                <li class="mr-md-4">
                                                    <i class="zmdi zmdi-time mr-2"></i> <%= n.job_post.mode %>
                                                </li>
                                            </ul>

                                            <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                           
                                            <li class="mr-md-4">
                                         
                                              <%= button_to raw('<i class="zmdi zmdi-delete mr-2"></i>Drop'), job_application_path(id: n.id), method: :delete, class: 'btn-danger mr-md-4' %>
                                            </li>
                                            </ul>
                                            <%unless n.staus.nil? %>
                                             <strong>Remarks By Company: </strong> <%= n.staus %> 
                                            <% end %>
                                            
                                        </div>
                                    </div>
                                  
                                   
                                   
                                </div>
                               
                            <% end%>
                            

                                </div>
                               
                        </div>
    
                        <!-- START Pagination -->
                        
                        
                        <div class="digg_pagination d-flex justify-content-center">
    
                        <%= will_paginate @posts, :container => false %>
                      </div>
                         <!-- END Pagination -->
                    </div>
                </div>
    
            </div>