
<head>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />


   <style>
   body{
    background:#eee;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #FFFFFF;
}
a {
    color: #82b440;
    text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.blog-comment{
    padding-left: 15%;
	padding-right: 15%;
}

.blog-comment ul{
	list-style-type: none;
	padding: 0;
}

.blog-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}



.blog-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 10px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}
.delete-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	
}
.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 90px;
}

.reply_toggle_button {
    width: 70px;
    cursor: pointer;
   
}
.hide {
    visibility: hidden;
    display: none;
}

.show {
    visibility: visible;
    
}


   </style>
   <script type="application/javascript">
    function clickMe(id) 
    {
        
        var text = document.getElementById(id);
        var tt=document.getElementById(id+"button");
        text.classList.toggle("hide");
        text.classList.toggle("show");
        tt.classList.toggle("hide");
        tt.classList.toggle("show");
       

    }
    
    </script>
</head>
<body>
<div class="row mt-3 m-5">
  <div class="col-sm-12">
    <div class="card shadow bg-light rounded">
    <div class="card-header font-weight-bold">


        <div style="width: 50%; float:left">
           
            <h3><%=@job_post.title%> </h3>
       
            <h5><%=@company.name%></h5>
            <% unless ( company_signed_in? || (current_user &&  user_signed_in? && current_user.is_admin==true) )%>
                <% if (current_user && @job_post.job_applications.where(user_id: current_user.id).empty?) %>
                    <div class="job-right my-4 flex-shrink-0">
                        <%=form_for(@job_post,:action=>"update") do |f| %>
                            <%= submit_tag "Share My Profile", :name=>"share", :class=> "btn d-block w-10 d-sm-inline-block btn-info"%>
                            
                        <%end%>
                    </div>
                <% elsif current_user %>
                    <div class="job-right my-4 flex-shrink-0 ">
                    <button class=" btn d-block w-10 d-sm-inline-block btn-success disabled" >Profile Shared</button>
                    </div>
                <% else %>
                    <div class="job-right my-4 flex-shrink-0">
                        <%=form_for(@job_post,:action=>"update") do |f| %>
                            <%= submit_tag "Share My Profile", :name=>"share", :class=> "btn d-block w-10 d-sm-inline-block btn-info"%>
                        <%end%>
                    </div>
                <% end %>
            <% end %>
            <h6><span class="font-weight-bold">Posted</span> <%= raw @job_post.created_at.strftime("%-d-%-m-%Y: %H:%M %Z")%></h6>

            <!-- Delete -->
            <% if current_user &&  user_signed_in? && current_user.is_admin==true  %>
                

                <%= form_with url: "/job_post/delete", method: :delete do |f| %>
        
                            <%= hidden_field_tag 'id', @job_post.id %>
                        <%= f.button :submit , :name=>"question",  :class=> " d-flex btn btn-danger " , :style=>"float:left" do %> 
                            <span>Delete</span>
                            
                        <% end %>
                    
                <%end%>
            <% end %>
           

        </div>
        
        <div style="width: 50%; float:right">
             <h3><%=@company.name%></h3>
             <h6><span class="font-weight-bold">Founded</span> <%= @company.founded %></h6>
             <h6><span class="font-weight-bold mr-2">Company Size</span><%= @company.size %> </h6>
        </div>
        
            
    </div>
        <div class="card-body">
                
            <div style="width: 50%; float:left">
                <i class="zmdi zmdi-pin mr-2 "></i> <%= @job_post.location %>
                        
                <i class="zmdi zmdi-case mr-2 ml-5"></i>  <%= @job_post.job_type %>
            
                <i class="zmdi zmdi-time mr-2 ml-5"></i> <%= @job_post.mode %>
            </div>

            <div style="width: 50%; float:right">
            <i class="zmdi zmdi-phone mr-2 "></i> <%= @company.contact %>
            <i class="zmdi zmdi-email mr-2 ml-5"></i> <%= @company.email %>
            <i class="zmdi zmdi-link mr-2 ml-5"></i> <a href="<%= @company.website_link %>"><%= @company.website_link %></a>
            </div>
                    
        
        </div>
    </div>
  </div>
   
  
</div>
<div class="row mt-2 m-5">
    <div class="col-sm-12 ">
        <div class="card  shadow-inner shadow bg-light rounded">
        <div class="card-header font-weight-bold">
        <h4>About Company</h4>
       </div>
        <div class="card-body">
            <%= raw @company.about %>
        </div>
        </div>
        
    </div>
</div>

<div class="row mt-2 m-5">
    <div class="col-sm-12 ">
        <div class="card  shadow-inner shadow bg-light rounded">
        <div class="card-header font-weight-bold">
        <h4>Description</h4>
       </div>
        <div class="card-body">
            <%= raw @job_post.description %>
        </div>
        </div>
        <div class=" mt-3 d-flex justify-content-center">
                 <%= link_to "Back", job_posts_path , class: "btn btn-primary d-flex justify-content-center" %>
        </div>
    </div>
</div>



    <div class="row mt-2 m-5">
        
		<div class="col-sm-12">
		    <div class="blog-comment">
            <h3 class="text-secondary">Forum</h3>
            <hr/>
            <%= form_with url: "/discussion/question", method: :post do |f| %>
                <div class="panel-body">
                    <%= hidden_field_tag 'job_post_id', @job_post.id %>
                    <%= f.text_area :content, :class=> "form-control", :placeholder=>"Ask your question here", :style=> " min-height: 50px;", :required => true%>
                    
                    <div class="mar-top clearfix">
                   <%= submit_tag "Ask Question", :name=>"question",  :class=> "btn btn-sm mt-2 btn-secondary pull-right"%>
                    
                    </div>
                </div>
            <%end%>
				
            <hr/>
				<ul class="comments">
                    <% @job_post.discussions.all.each do |discussion| %>
                        <% if discussion.parent_id.nil? %>
                                    <li class="clearfix">
                                    
                                    <div class="post-comments">
                                        <p class="meta">
                                                <span class="text-info h5">
                                                <% if discussion.author_id.nil? %>
                                                <%= "Removed Account" %>
                                                <% elsif discussion.is_user %>
                                                <%= @users.find(discussion.author_id).name %>
                                                <% else %>
                                                <%= @companies.find(discussion.author_id).name %>
                                                <%end %>
                                            </span>

                                            
                                           

                                            <!-- Edit Enable Button -->
                                            <% if current_user && user_signed_in? && discussion.is_user==true && discussion.author_id==current_user.id %>
                                                <span class="reply_toggle_button h6 float-right " onclick='clickMe("<%= discussion.id.to_s+"_edit" %>")'>
                                                    <small class="text-primary">Edit</small>
                                                </span>
                                                
                                            <% elsif current_company &&  company_signed_in? && (discussion.is_user.nil? || discussion.is_user==false) && discussion.author_id==current_company.id %>
                                                <span class="reply_toggle_button h6 float-right " onclick='clickMe("<%= discussion.id.to_s+"_edit" %>")'>
                                                    <small class="text-primary">Edit</small>
                                                </span>
                                            <% else %>
                                               <span></span>
                                            <% end %>

                                            <!-- Reply Enable Button -->
                                            <%if current_user || current_company %>
                                            <span class="reply_toggle_button float-right h6" onclick='clickMe("<%= discussion.id.to_s %>")'>
                                              <small class="text-primary">Reply</small>
                                            </span>
                                            <%end%>
                                            
                                            <!-- Delete by Company -->
                                            <% if current_company &&  company_signed_in? && @company.id == current_company.id  %>
                                                

                                                <%= form_with url: "/discussion/", method: :delete do |f| %>
                                        
                                                    <%= hidden_field_tag 'id', discussion.id %>
                                                        <%= f.button :submit , :name=>"question",  :class=> " d-flex btn btn-danger " , :style=>"float:right" do %> 
                                                            <span>Delete</span>
                                                           
                                                        <% end %>
                                                   
                                                <%end%>
                                            <% end %>

                                            <!-- Discussion Delete by Admin -->
                                            <% if current_user &&  user_signed_in? && current_user.is_admin==true  %>
                                                

                                                <%= form_with url: "/discussion/delete", method: :delete do |f| %>
                                        
                                                    <%= hidden_field_tag 'id', discussion.id %>
                                                        <%= f.button :submit , :name=>"question",  :class=> " d-flex btn btn-danger " , :style=>"float:right" do %> 
                                                            <span>Delete</span>
                                                           
                                                        <% end %>
                                                   
                                                <%end%>
                                            <% end %>

                                            <p class="" ><%=time_ago_in_words discussion.created_at %> ago </p>
                                           
                                        </p>
                                        <p class="text-break">
                                        <%=discussion.content %>
                                        </p>
                                        
                                       
                                       
                                        
                                           
                                       
                                        
                                    </div>
                                   
                                    <%= form_with url: "/discussion/answer", method: :post do |f| %>
                                        
                                            <%= hidden_field_tag 'parent_id', discussion.id %>
                                            <%= hidden_field_tag 'job_post_id', discussion.job_post_id %>
                                            <div class="d-flex align-items-end">
                                                <!-- Reply -->
                                                <%= f.text_area :content , :rows=> "1", :class=> "ml-3 post-comments col-sm-11 hide ", :placeholder=>"Reply here", :required => true , :id=>discussion.id.to_s , :style=> " min-height: 50px;"%>
                                            
                                                <%= f.button :submit , :name=>"question",  :class=> "ml-2 btn btn-sm btn-secondary hide mb-4", :style=> "", :id=>(discussion.id.to_s+"button") do %> 
                                                    Reply<i class='zmdi zmdi-mail-send ml-1'></i>
                                                <% end %>
                                              
                                            </div>
                                    <%end%>



                                    <%= form_with url: "/discussion/edit", method: :get do |f| %>
                                        
                                        <%= hidden_field_tag 'id', discussion.id %>
                                      
                                        <div class="d-flex align-items-end">
                                            <%= f.text_area :content , :rows=> "2", :class=> "ml-3 post-comments col-sm-11 hide ", :placeholder=>"Reply here", :required => true , :id=>(discussion.id.to_s+"_edit") , :style=> " min-height: 50px;" , :value=>discussion.content%>
                                        
                                            <%= f.button :submit , :name=>"question",  :class=> "ml-2 btn btn-sm btn-secondary hide mb-4", :style=> "", :id=>(discussion.id.to_s+"_editbutton") do %> 
                                                Update
                                                <% end %>
                                        </div>
                                    <%end%>

                                    
                                  
                                
                                    </li>
                                   
                                        <ul class="comments">
                                            <% @job_post.discussions.all.each do |reply| %>
                                                <% if reply.parent_id==discussion.id %>
                                                    <li class="clearfix">
                                                        
                                                        <div class="post-comments">
                                                            <p class="meta"> 
                                                                    <span class="text-info h5">
                                                                        <% if reply.author_id.nil? %>
                                                                        <%= "Removed Account" %>
                                                                        <% elsif reply.is_user %>
                                                                        <%= @users.find(reply.author_id).name %>
                                                                        <% else  %>
                                                                        <%= @companies.find(reply.author_id).name %>
                                                                        <%end %>
                                                                    </span>
                                
                                                           <% if current_user && user_signed_in? && reply.is_user==true && reply.author_id==current_user.id %>
                                                                <span class="reply_toggle_button float-right h6" onclick='clickMe("<%= reply.id.to_s+"_cedit" %>")'>
                                                                    <small class="text-primary">Edit</small>
                                                                </span>
                                                                
                                                            <% elsif current_company &&  company_signed_in? && (reply.is_user.nil? || reply.is_user==false) && reply.author_id==current_company.id %>
                                                                <span class="reply_toggle_button float-right h6" onclick='clickMe("<%= reply.id.to_s+"_cedit" %>")'>
                                                                    <small class="text-primary">Edit</small>
                                                                </span>
                                                            <% else %>
                                                                <span></span>
                                                            <% end %>
                
                                                           
                                                            <!-- Discussion Delete by Admin -->
                                                            <% if current_user &&  user_signed_in? && current_user.is_admin==true  %>
                                                                

                                                                <%= form_with url: "/reply/delete", method: :delete do |f| %>
                                                        
                                                                    <%= hidden_field_tag 'id', reply.id %>
                                                                        <%= f.button :submit , :name=>"question",  :class=> " d-flex btn btn-danger " , :style=>"float:right" do %> 
                                                                            <span>Delete</span>
                                                                        
                                                                        <% end %>
                                                                
                                                                <%end%>
                                                            <% end %>

                                                            <p class="" ><%=time_ago_in_words discussion.created_at %> ago </p>
                                                           </p>
                                                           <p class="text-break">
                                                           <%=reply.content %>
                                                           </p>

                                                            
                                                        </div>
                                                        <%= form_with url: "/discussion/edit", method: :get do |f| %>
                                        
                                                            <%= hidden_field_tag 'id', reply.id %>
                                                          
                                                            <div class="d-flex align-items-end">
                                                                <%= f.text_area :content , :rows=> "1", :class=> "ml-3 post-comments col-sm-11 hide ", :placeholder=>"Reply here", :required => true , :id=>(reply.id.to_s+"_cedit") , :style=> " min-height: 50px;" , :value=>reply.content%>
                                                            
                                                                <%= f.button :submit , :name=>"question",  :class=> "ml-2 btn btn-sm btn-secondary hide mb-4", :style=> "", :id=>(reply.id.to_s+"_ceditbutton") do %> 
                                                                    Update
                                                                    <% end %>
                                                            </div>
                                                        <%end%>

                                                        
                    
                                                    </li>
                                                    
                                                <% end %>
                                            
                                            <% end %>      
                                             
                                        </ul>
                                    
                        <% end %>
                     <% end %>
				</ul>
			</div>
		</div>
	
</div>

</body>

